<h1>Edit</h1>
<%=form_with url: user_path(@user), method: :put, model: @user do |form|%>
    <div>
        <%=form.text_area :first_name %>
        <%=form.text_area :last_name %>
        <%=form.text_area :email %>
        <%=form.text_area :phone_number %>
    </div>

    <div>
        <%=form.submit%>
    </div>
<%end%>