<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq">
    <div class="container">

    <div class="section-title">
        <h2>Clients</h2>
    </div>

    <ul class="faq-list">

        <% @clients_all.each do |c| %>
            <li>

                <div data-bs-toggle="collapse" class="collapsed question" href=<%= "#faq#{c.id}" %>>
                    <%= "#{c.first_name} #{c.last_name} #{c.phone_number}" %>
                    <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                </div>

                <div id=<%= "faq#{c.id}" %> class="collapse" data-bs-parent=".faq-list">
                    <section id="actual" class="why-us">
                        <div class="container">

                            <div class="row">
                                <% c.orders.each do |order|%>
                                <% @mechanic = Mechanic.find_by(id: order.mechanic_id) %>
                                    <div class="team col-lg-4">     
                                        <div class="col-lg-12">
                                            <div class="member">              
                                                <div class="member-img col-lg-12 mt-6 mt-lg-6">

                                                    <div class="box">
                                                        <span><%= order.state %></span>
                                                        <h4><%= order.description %></h4>
                                                        <p><%= "#{@mechanic.first_name} #{@mechanic.last_name}" %></p>
                                                        
                                                        <% if current_user.is_a?(Admin) && order.state != 'done' %>
                                                        <%= link_to 'Update state', client_order_path(c, order, state: 'change', locale: I18n.locale), method: :put, zclass: 'btn-get-started scrollto'%>
                                                        <% end %>
                                                    </div>                     

                                                    <% if order.in_review? %>
                                                    <div class="social">
                                                        <a href=<%= edit_client_order_path(current_user, order) %>>Edit</a>
                                                        <a href="">delet</a>
                                                    </div>
                                                    <% end %>

                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                <% end %> 
                            </div>

                        </div>
                    </section>
                </div>

            </li>
        <% end %>
        
    </ul>

    </div>
</section><!-- End Frequently Asked Questions Section -->
