<main id="main">
  <section id="contact" class="contact section-bg">
    <div class="container">

      <div class="section-title">
        <h2><%= t('new_order.Edit') %></h2>
      </div>

      <div class="row">

        <div class="col-lg-3"></div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <%= form_for(@order, as: :order, url: client_order_path(current_user, @order), html: {class: "php-email-form"}) do |f| %>
            <div class="row">
              <div class="form-group mt-3">

                <%= f.hidden_field :client_id, value: @order.client_id  %>

                <!-- Description -->
                <div class="form-floating">
                  <%= f.text_field :description, class: 'form-control', required: true %>                  
                  <%= f.label t('new_order.Description'), for: 'order_description' %>
                </div><br/>
                <!-- End Description -->
                
                <!-- Service select -->
                <div class='form-floating'>
                  <%= select_tag('order[service_order_attributes][service_id]',
                        options_for_select(@services_for_options, @order.service.id), 
                        { class: 'form-select', id: 'services', aria_lable: 'Default select example' } )
                  %>
                  <%= f.label t('new_order.Services'), for: 'services' %>
                </div><br/>
                <!-- End Service select -->

                <!-- Mechanic select -->
                <div class='form-floating'>
                  <%= select_tag('order[mechanic_id]',
                        options_for_select(@mechanic_fot_options, @order.mechanic.id), 
                        { class: 'form-select', id: 'mechanics', aria_lable: 'Default select example' } )
                  %>
                  <%= f.label t('new_order.Mechanics'), for: 'mechanics' %>
                </div>
                <!-- End Mechanic select -->
              </div>     
            </div>
            <br/>              

            <div class="text-center">
              <%= f.button t('new_order.Update')%>
            </div>
          <% end %>
        </div>

      </div>

    </div>
  </section>

  <section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title">
        <h2><%= t('new_order.Mechanics') %></h2>
        <p><%= t('new_order.Here_you_can_see_our_mechanics') %></p>
      </div>

      <div class="row">
        <% @mechanics.each_with_index do |m, i| %>
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="/assets/theme/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4><%= "#{i + 1}. #{m.full_name}" %></h4>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </section><!-- End Team Section -->
</main>
<!-- End Contact Section -->  