<main id="main">
  <section id="contact" class="contact section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Order</h2>
      </div>

      <div class="row">

        <div class="col-lg-3"></div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <%= form_with url: client_orders_path(@client), html: {class: "php-email-form"}, model: @client.orders.build do |f| %>
            <div class="row">
              <div class="form-group mt-3">

                <div class="form-floating">
                  <input type="hidden" id="client_id" name="order[client_id]" value=<%= @client.id %>>
                  <input type="text" id="description" name="order[description]" class="form-control" required>
                  <label for="description">Description</label>
                </div><br/>
                
                <!-- Service select -->
                <div>
                  <select name="order[services][]" class="form-select" size="3" multiple aria-label="multiple select example"> multiple>
                    <option disabled>Choose a service</option>
                    <% @services.each do |s| %>
                      <option value=<%= s.id %>
                              <% if s.id == @service_id %> selected <% end %>>
                        <%= s.title %>: <%= s.price %>$
                      </option>
                    <% end %>
                  </select>
                </div>
                <!-- End Service select -->
              </div>     
            </div>
            <br/>              

            <div class="text-center">
              <button type="submit">Create</button>
            </div>
          <% end %>
        </div>

      </div>

    </div>
  </section>
</main>
<!-- End Contact Section -->  