<main id="main">
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Sign In</h2>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>A108 Adam Street, New York, NY 535022</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@example.com<br>contact@example.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">

            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "php-email-form"}) do |f| %>  
                <% url = Rails.application.routes.recognize_path(request.referrer) %>

                <% if params[:message] %>
                  <p><%= params[:message] %></p>
                <% end %>

                <% if url[:controller] == 'devise/registrations' && request[:controller] == 'devise/sessions' %>
                  <p><%= 'check your email' %></p>
                <% end %>

                <div class="form-group mt-3">
                    <%= f.email_field :email, class: 'form-control', placeholder: 'Your email', required: true %>
                </div>

                <div class="form-group mt-3">
                    <%= f.password_field :password, class: 'form-control', row: "9", placeholder: 'Password', required: true %>
                </div>

                <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>

                <div class="text-center">
                    <button type="submit">Sing in</button>
                </div>

                <div class="text-center">
                    <%= link_to 'Don\'t have an account', new_user_registration_path%>
                </div>
            <% end %>

          </div>

        </div>

      </div>
<!-- End Contact Section -->  