<main id="main">
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2><%= t 'new_session.sign_in' %></h2>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3><%= t 'new_session.our_address' %></h3>
                  <p><%= t 'new_session.a108_adam_street' %>, <%= t 'new_session.new_york_ny_535022' %></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3><%= t 'new_session.email_us' %></h3>
                  <p><%= t 'new_session.info_example_com' %><br><%= t 'new_session.contact_example_com' %></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3><%= t 'new_session.call_us' %></h3>
                  <p><%= t 'new_session.phone1_5589_55488_55' %><br><%= t 'new_session.phone1_6678_254445_41' %></p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">

            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "php-email-form"}) do |f| %>  
                <% url = Rails.application.routes.recognize_path(request.referrer) %>

                <div class="form-group mt-3">
                  <div class="form-floating">                    
                    <input type="email" id="email" name="user[email]" class="form-control" required>
                    <label for="email"><%= t 'new_session.your_email' %></label>
                  </div>
                </div>

                <div class="form-group mt-3">                    
                    <div class="form-floating">                    
                      <input type="password" id="password" name="user[password]" class="form-control" row='9' required>
                      <label for="password"><%= t 'new_session.password' %>Password</label>
                    </div>
                </div><br/>

                <div class="text-center">
                    <button type="submit"><%= t 'new_session.sign_in' %></button>
                </div>

                <div class="text-center">                
                  <a href=<%= new_user_registration_path %>><%= t 'new_session.don_t_have_an_account' %></a>
                </div>
            <% end %>

          </div>

        </div>

      </div>
<!-- End Contact Section -->  