<h1>Users</h1>
<ul>
    <%@users.each do |user|%>        
        <li><%="#{user.last_name} #{user.first_name.first}."%></li>
        <li><%=user.email%></li>
        <li><%=user.phone_number%></li>
        <li><%= link_to "Delete",
                user_path(user),
                method: :delete,
                data: { confirm: "Are you sure?" } %></li>
        <br>
    <%end%>
</ul>
<%=Cowsay.say('Hello', 'Cow')%>