<h1>Hello, Order Index: <%= "#{@user.service_orders.count}" %></h1><br/>

 <% @service_orders.each do |order| %>  
  <ul>
    <li><%= order.description %></li>
    <li><%= link_to 'edit', edit_user_service_order_path(@user, order), method: :put %></li>
    <li><%= link_to 'delete', user_service_order_path(@user, order), method: :delete %></li>
  </ul><br/>
<% end %>

<%= link_to 'Add order', new_user_service_order_path(@user) %><br/>
<%= link_to 'index', root_path %>