<!DOCTYPE html>
<html>
  <head>
    <title>CarService</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Resi Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/theme/img/favicon.png" rel="icon">
    <link href="/assets/theme/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/theme/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/theme/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/theme/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/theme/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/theme/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/theme/css/style.css" rel="stylesheet">
  </head>

  <body>    
    <!-- Head -->
    <header id="header" class="fixed-top ">
      <% if current_user %>
        <!-- ======= Authorized user header  ======= -->
        <div class="container d-flex align-items-center justify-content-between">

          <h1 class="logo"><a href="index.html">CarService.</a></h1>
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href=<%= clients_path %> >Home</a> </li>

              <% unless ApplicationController::guest? params %>
                <li class="dropdown"><a><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a href=<%= me_path %>>Me</a></li>
                    <li><a href=<%= edit_client_path(current_user) %>>Edit</a></li>
                  </ul>
                </li>

                <li class="dropdown"><a><span>Orders</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li>
                      <a href= <%= actual_orders_path %>> Actual </a>
                    </li>
                    <li><%= link_to 'New', new_client_order_path(current_user) %></li>
                  </ul>
                </li>                
              <% end %>

              <li class="dropdown"><a href=<%= "#{clients_path}#services" %>><span>Services</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href=<%= show_services_path %>> info </a></li>
                </ul>
              </li>

              <li><a class="nav-link scrollto" href=<%= "#{clients_path}#team" %>>Team</a></li>

              <li><a class="nav-link scrollto" href=<%= mechanics_path %>>Mechanics</a></li>

              <% if current_user.is_a? Admin%>
                <li><a class="nav-link scrollto" href=<%= client_path(current_user) %> >Show all</a></li>
              <% end %>

              <li><a class="nav-link scrollto" href=<%= destroy_user_session_path %> data-method='delete'>Sign out</a></li>          
            </ul>

            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->

        </div>      
        <!-- ======= End Authorized user header ======= -->
      <% else %>
        <!-- ======= Unauthorized user header ======= -->
        <div class="container d-flex align-items-center justify-content-between">

          <h1 class="logo"><a href="index.html"><%= t 'guest.carservice' %></a></h1>
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href=<%= root_path %>><%= t 'guest.home' %></a> </li>
              <li><a class="nav-link scrollto active" href=<%= new_user_session_path %>><%= t 'guest.sign_in' %></a> </li>
              <li><a class="nav-link scrollto active" href=<%= new_user_registration_path %>><%= t 'guest.sign_up' %></a> </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->

        </div>
        <!-- ======= End unauthorized user header ======= -->
      <% end %>
    </header>
    <!-- End head -->
    <br/>
    <br/>
    <br/>

    <!-- flash notifications -->    
      <% logger.info("flash => #{flash.keys}") %>
      <% flash.each do |type, msg| %>
        <div style="margin: 50px" class='alert alert-primary' role='alert'>
          <%= msg %>
        </div>
      <% end %>    
    <!-- End flash notifications -->    

    <%= yield %>
  </body>
</html>
