<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CarService</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Resi Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/theme/img/favicon.png" rel="icon">
    <link href="/assets/theme/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/theme/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/theme/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/theme/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/theme/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/theme/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/theme/css/style.css" rel="stylesheet">
  </head>

  <body>    
    <!-- Head -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-between">

          <h1 class="logo"><a href="index.html"><%= t 'header.carservice' %></a></h1>
          <nav id="navbar" class="navbar">
            <ul> 
              <li><a class="nav-link scrollto" href=<%= url_for(locale: I18n.locale == :en ? :ru : :en) %>>switch locale</a></li>              

              <li><a class="nav-link scrollto active" href=<%= root_path %>><%= t 'header.home' %></a> </li>

              <% if current_user %>
                <li class="dropdown"><a><span><%= t 'header.Profile' %></span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a href=<%= me_path %>><%= t 'header.Me' %></a></li>
                    <li><a href=<%= edit_client_path(current_user) %>><%= t 'header.Edit' %></a></li>
                  </ul>
                </li>

                <li class="dropdown"><a><span><%= t 'header.Orders' %></span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li>
                      <a href= <%= actual_orders_path %>><%= t 'header.Actual' %></a>
                    </li>
                    <li><%= link_to t('header.New'), new_client_order_path(current_user) %></li>
                  </ul>
                </li>                

                <li class="dropdown"><a href=<%= "#{clients_path}#services" %>><span><%= t 'header.Services' %></span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a href=<%= show_services_path %>><%= t 'header.info' %></a></li>
                  </ul>
                </li>

                <li><a class="nav-link scrollto" href=<%= "#{clients_path}#team" %>><%= t 'header.team' %></a></li>

                <li><a class="nav-link scrollto" href=<%= mechanics_path %>><%= t 'header.Mechanics' %></a></li>

                <% if current_user.is_a? Admin%>
                  <li><a class="nav-link scrollto" href=<%= client_path(current_user) %> ><%= t 'header.Show_all' %></a></li>
                <% end %>

                <li><a class="nav-link scrollto" href=<%= destroy_user_session_path %> data-method='delete'><%= t 'header.Sign_out' %></a></li>          
              <% else %>
                <li><a class="nav-link scrollto active" href=<%= new_user_session_path %>><%= t 'header.sign_in' %></a> </li>
                <li><a class="nav-link scrollto active" href=<%= new_user_registration_path %>><%= t 'header.sign_up' %></a> </li>
              <% end %>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->

        </div>        

      <!-- flash notifications -->    
        <div class='flash-container' id='flash-container'>
          <% logger.info("flash => #{flash.keys}") %>
          <% flash.each do |type, msg| %>

            <% if type == 'errors' %>
              <% msg.each do |error| %>
                <div class='p-3 mb-2 bg-danger text-white' role='alert'>
                  <%= error %>
                </div>
              <% end %>
            <% else %>
              <div class='alert alert-primary' role='alert'>
                <%= msg %>
              </div>
            <% end %>
            
          <% end %>    
        </div>
      <!-- End flash notifications --> 


    </header>
    <!-- End head -->

    <div class='main-container' id='main-container'>
      <%= yield %>
    </div>

  </body>
</html>
